---
import Terminal from '../components/Terminal.jsx';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bash</title>

</head>
<body>
  <div class="min-h-screen">
    <Terminal client:load />
  </div>
</body>
</html>
